
<div class="home-container">
  
  <div class="background-image"></div>
  <div class="logo text-center">
   
  </div>
  <!--<div class="logo"><img width="250" src="assets/gymlogo.png" alt=""></div>-->
 
  <h1 class="title">Bienvenu Dans La Page Home</h1>



<div class="images">
  <div style="display: flex; justify-content: center; margin-bottom: 5px;">
    <div class="image-container">
      <a href="list-member">
        <img src="/assets/images/member3.png" width="500" height="350" class="image-design">
        <div class="image-overlay">
          <h2 class="overlay-text">List Member</h2>
        </div>
      </a>
    </div>
    <div class="image-container">
      <a href="list-coach">
        <img src="/assets/images/coach2.jpg" width="500" height="350" class="image-design">
        <div class="image-overlay">
          <h2 class="overlay-text">List Coach</h2>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="images2">
  <div style="display: flex; justify-content: center; margin-bottom: 5px;">
    <div class="image-container">
      <a href="emploi">
        <img src="/assets/images/istockphoto-1161898151-170667a.jpg" width="500" height="350" class="image-design">
        <div class="image-overlay">
          <h2 class="overlay-text">emploi</h2>
        </div>
      </a>
    </div>
    <div class="image-container">
      <a href="dashboard">
        <img src="/assets/images/istockphoto-1281725534-1024x1024.jpg" width="500" height="350" class="image-design">
        <div class="image-overlay">
          <h2 class="overlay-text">dashboard</h2>
        </div>
      </a>
    </div>
  </div>
</div>
  
</div>




